:root {
  --blanco: #ffffff;
  --gris1: #b8bcbe;
  --gris2: #e0eff7;
  --red: #da1111;
  --blue: #1f84e2;
  --blueHoover: #043df7;
  --negro: #000000;
  --headingFont:'Raleway', sans-serif;
  --textFont:  'Roboto', sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
} 
html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%; 
}
body {
  min-height: 100%;
  background-color: var(--blanco);
  font-size: 16px; 
  font-size: 1.6rem;
  font-family: var(--textFont);
  border-top: 2rem solid transparent;
  padding: 2rem;
  border-image: url('./background_bosch.jpg') 30;
  border-image-repeat: unset;
}


h1, h2 {
  font-family: var(--headingFont);
  font-weight: 500;
  margin: 0 0 4rem 0;
  text-align: center;
  color: var(--red);
}
p span{
  font-style: italic;
  font-weight: bold;
  font-size: 1.7rem;
}
h1 span {
  font-weight: 900;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.4rem;
}
p{
  font-size: 1.5rem;
  margin-left: 1rem;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--negro);
}

/** BOTONES **/
.btn {
  margin-top: 2rem;
  font-family: var(--headingFont);
  padding: 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  border-radius: .5rem;
  border: none;
  transition: background-color .3s ease;
}
.btn:hover {
  cursor: pointer;
}
.btn-primario {
  background-color: var(--blue);
  color: var(--blanco);
  max-width: 500px;
}
.btn-primario:hover {
  background: var(--blueHoover);
}
.btn-secundario {
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  background-color: #fff;
  transition: font-size .3s ease;
}
.btn-secundario:hover {
  font-size: 1.8rem;
  cursor: pointer;
}

.btn-eliminar{
  color: #e1e1e1;
  background-color: rgb(216, 39, 39);
  transition: padding .3s ease;
}
.btn-eliminar:hover {
  padding: 2rem;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-submit:hover {
  background-color: var(--blanco);
}
.btn-blank {
  padding: 0;
  display: block;
  background-color: transparent;
  margin: 0.5rem;
  transition: font-weight .3s ease;
}
.btn-blank:hover{
  font-weight: bold;
}

.btn-nav{
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-weight: bold;
  background-color: transparent;
  margin-left: 1.5rem;
  transition: font-size .3s ease;
}

.btn-nav:hover{
  font-size: 2.2rem;
}

.btn-logOut{
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  font-weight: bold;
  display: inline;
  background-color: transparent;
  color: var(--red);
  padding-left: 5rem;
}
.btn-logOut:hover{
  font-size: 2rem;
}

@media (min-width: 768px) {
  .contenedor-app {
      display: flex;
      min-height: 100vh;
  }

  .app-header{
    display: flex;
  }

  .seccion-principal {
      flex: 1;
  }
  .columnas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    margin: 4rem;
  }

}

/*Header*/
.app-header {
  margin: 0;
  box-shadow: 0px 0px 6px 0px rgba( 0, 0, 0, 0.54);
  border-radius: 1rem;
}
.nombre-usuario {
  color: var(--red);
  font-size: 3rem;
  margin: 0;
}
.nombre-usuario span {
  font-weight: 900;
  font-style: normal;
  font-size: 3.2rem;
}
.nav-principal {
  display: inline;
}
.nav-principal button:last-of-type {
  margin-left: 2rem;
}

.estado button, 
.mensaje {
  font-weight: 900;
  font-family: var(--textFont);
  font-size: 1rem;
  padding: .5rem;
  border-radius: .5rem;
  cursor: pointer;
  border: none;
}
.mensaje {
  text-align: center;
  font-size: 1.6rem;
  border-radius: 1;
  padding: 1rem;
}
.mensaje:hover {
  cursor: default;
}

.error {
  max-width: 600px;
  margin: 2rem auto 0 auto;
  background-color: rgb(170, 0, 0);
  color: var(--blanco);
}


.form-usuario {
    background-color: var(--gris1);
    height: 100vh;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.contenedor-form {
    padding: 5rem 3rem;
    max-width: 500px;
    width: 95%;
    background-color: var(--blanco);
    border-radius: 1rem;
}

.form-service{
    background-color: var(--gris2);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.widht{
  max-width: 700px;
}

.campo-form {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
}
.campo-form:last-of-type {
  margin: 0;
}
.campo-form label {
  flex: 0 0 100px;
  font-family: var(--textFont);
}
.campo-form input[type="password"],
.campo-form input[type="email"], 
.campo-form input[type="text"] {
  border: 1px solid #e1e1e1;
  padding: 1rem;
  flex: 1;
}

.enlace-cuenta {
  margin-top: 2rem;
  display: block;
  opacity: .8;
  text-align: center;
  font-weight: bold;
}

.alerta {
  position: fixed;
  top: 2rem;
  left: 0;
  padding: 1rem 3rem;
  border-radius: 1rem;
  font-family: var(--headingFont);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2.2rem;
  text-align: center;
  width: 100%;
}
@media (min-width:768px) {
  .alerta {
      width: auto;
      top: 4rem;
      right: 50px;
      left: auto;
  }
}
.alerta-error{
  background-color: rgb(230, 78, 78);
  color: var(--blanco);
}
.alerta-ok{
  background-color: rgb(109, 211, 109);
  color: var(--blanco);
}

.logo{
  background-image: url(../src/logo.png);
  background-size: contain;
  width: 20rem;
  height: 10rem;
  padding: 5rem;
  background-repeat: no-repeat;
}

.contenedor-header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 4rem;
}

.border{
  border: 1px solid #000;
  padding: 1.5rem;
  margin-top: 2rem;
}
.border-radius{
  border-radius: 1rem;
  border-color: var(--blue);
}

.filas{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 2rem;
}
.columnas{
  margin-top: 4rem;
}
.columnas-margen{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
}

.separacion{
  display: flex;
  flex-direction: column;
}

.titulo{
  margin-left: 2rem;
  margin-top: -2rem;
}

.contenedor-search{
  display: flex;
  flex-direction: column;
  margin: 2rem ;
}
 .search{
   padding: .7rem;
   margin-bottom: 1rem;
 }
 .border-bottom{
  border-bottom: .2px solid var(--gris1);
 }

 .space{
  margin-left: 4rem;
 }